.logo{
    width: 50px;
    height: 50px;
}

body{
  overflow-y: hidden;
}



@media (max-width: 575px) {
    .hide {
      
      display: none;
    }
  }

  .rbc-event {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
  }
  
  .rbc-toolbar button {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 5px;
  } /* Estilos de boton sideBar*/
 
  link{
    text-decoration: none;
  }
  .btn-custom{
    
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.1)
    !important;
    
    
  }
  
  /* .btn.active,.btn-custom:hover{
    background-color: rgba(0, 123, 255)
    !important;
  
    color:white !important;
    border: none !important;
  } */
  /*Con esta opción no salta ninguna animación de movimiento al hacer hover en los botones del sidebar*/

   .btn-custom:hover,
  .selected{
    background-color: rgba(0, 123, 255)
    !important;
  
    color:white !important;
  }

  /*Estilo botones icono*/	
  .btn-icon{
    background-color: transparent !important;
    border: none !important;
}
  .addicon:hover{
    background-color: rgba(0, 123, 255)
    !important;
    color: white !important;
  }
  .pulse{
    animation: pulse 0.5s !important;
  }

  .addicon{
    background-color: rgba(0, 0, 0, 0.1)
    !important;
    width: 50px;
    height: 50px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      
    }
    50% {
      transform: scale(1.2);
     
    }
    100% {
      transform: scale(1);
    }
    
  }

  /*Estilos sidebar*/
  .sidebar{
    width: fit-content;
    height: 100vh;
  }


  /*Estilos Barra de búsqueda*/
.search-input{
  background-color: transparent !important;
  border: none !important;
 width: 80%;
  
  
  }
  .search-button{
   color: black !important;
  }
  

  .search-input:focus{
    outline: none !important;
  }
 



  /*Para que los botones sean clickables solo en la zona que realmente se ven*/
  .nav-item{
    width: fit-content !important;
  }


  


/*Estilos de tarjeta de Asignatura SubjectCard*/


@keyframes fadeInfromTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInfromleft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.resource {
  animation: fadeInfromTop 0.5s linear;
  width: fit-content;

}



.contentContainer{
  height: 80vh;
  
  
}


