.logo{
    width: 50px;
    height: 50px;
    
}
:root{
  --color-primary:  rgb(95, 28, 228)!important;
  --color-secondary: #6c757d;
  --color-primary-light: rgba(96, 0, 255, 0.9);
  --bs-primary: rgb(95, 28, 228);
}
body{
  
  padding: 0;

  
}
#root{
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.bg-primar{
  background-color: var(--color-primary);
}


.color-gold{
  color: #FFD700;
}
.color-grey{
  color: #CCCCCC;
}

.bg-primary-gradient{
  background: linear-gradient(90deg,rgba(96, 0, 255, 1) 0%, rgba(96, 0, 237, 1) 50%, rgba(96, 0, 220, 1) 100%);
}

.logobg{
  background-color: var(--color-primary);
}
/*Estilos boton toogle*/
.no-outline input[type="checkbox"]:focus{
  outline: none !important;
  box-shadow: none !important;

}

.toogleButton-color input[type="checkbox"]:checked{
   background-color: var(--color-primary) !important;
  
}
.toogleButton-color input[type="checkbox"]{
  border-color: var(--color-primary);
  
}

.auth-button{
  color: white ;
  background-color: var(--color-primary);

  border: 1.5px solid white;
  outline: none;

}


@media (max-width: 767px) {
    .hide {
      
      display: none;
    }
    
    /* .scale{
      scale: 0.8;
    } */
  }
  


  .rbc-event {
    background-color:var(--color-primary) !important;
    color: white !important;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
  }
  
  .rbc-toolbar button {
    background-color: var(--color-primary) !important;
    color: white !important;
    border-radius: 5px;
  } /* Estilos de boton sideBar*/
 
  link{
    text-decoration: none;
  }
  .btn-custom{
    
    
    background-color: transparent !important;
    border-color: transparent !important;
  
    color: rgb(0, 0, 0);
    
  }
  
  /* .btn.active,.btn-custom:hover{
    background-color: rgba(0, 123, 255)
    !important;
  
    color:white !important;
    border: none !important;
  } */
  /*Con esta opción no salta ninguna animación de movimiento al hacer hover en los botones del sidebar*/

   .btn-custom:hover{
    background-color: rgb(179, 174, 255)
    !important;
    transition: all 0.1s ease-in-out !important;
    
    color:rgb(0, 0, 0) !important;
  }

  

  .selected{
    background-color: var(--color-primary)
    !important;
    
    
    color:white !important;
  }

  .selected:hover{
    background-color: var(--color-primary)
    !important;
    
    
    color:white !important;
  }

  /*Estilo botones icono*/	
  .btn-icon{
    background-color: transparent !important;
    border: none !important;
}

.btn-icon2{
  background-color: transparent !important;
  border: none !important;
}
.bg-red-light:hover {
   background-color: rgb(252, 126, 126)
  !important;
 
}

.bg-blue-light:hover {
   background-color: rgb(111, 128, 255)
  !important;
 
}
.btn-icon:hover{
  background-color: rgba(255, 255, 255, 0.1)
  !important;

 
}
.addicon{
  background-color: var(--color-primary)
  !important;
  color: white !important;
  width: fit-content;
  height:fit-content;
  border: none !important;
  

 
}
  .addicon:focus{
    outline: none !important;
  }

  .addicon:hover{
    background-color: var(--color-primary-light)
    !important;
    color: white !important;
  }
  .pulse{
    animation: pulse 0.5s !important;
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
      
    }
    50% {
      transform: scale(1.2);
     
    }
    100% {
      transform: scale(1);
    }
    
  }

  /*Estilos sidebar*/
  .sidebar{
    
    height: 100vh;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(243, 243, 243);
    
  }


  /*Estilos Barra de búsqueda*/
.search-input{
  background-color: transparent !important;
  border: none !important;
 width: 80%;
  
  
  }
  .search-button{
   color: black !important;
  }
  

  .search-input:focus{
    outline: none !important;
  }
 



  /*Para que los botones sean clickables solo en la zona que realmente se ven*/
  .nav-item{
    width: fit-content !important;
  }


  /*Estilos de boton threedots*/
  .three-dots{
    background-color: transparent !important;
   
    
  }

  .three-dots:hover{
   background-color: #bac0c6 !important;
   
    
  }


/*Estilos de tarjeta de Asignatura SubjectCard*/


@keyframes fadeInfromTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes fadeInfromleft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.login-text{
  animation: fadeInfromleft 0.5s linear;
}


.resource {
  animation: fadeInfromTop 0.5s linear;
  /* width: fit-content; */

}

.resource:hover{
  scale: 1.01;
  transition: all 0.5s ease-out;
  cursor: pointer;
}



.contentContainer{
  height: 100vh;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;

}


/*Estilos SubjecCard*/
.subjectCard{
  background-color: var(--color-primary);
  
  color :white;
  width: 250px;
  height: 160px;
  padding: 5px;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
 
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}