body{
  margin: 0;
  padding: 0;
 
}

.grid-container{
  display: grid;
  grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer footer";
  grid-template-rows: auto 1fr auto; /* Encabezado y pie de página automáticos, contenido flexible */
  grid-template-columns: 300px 1fr 1fr; /* Sidebar con tamaño fijo, main y content ocupan el resto */
  min-height: 100vh; /* Para asegurar que el cuerpo ocupe toda la altura de la ventana */
  background-color: rgba(81, 81, 81, 0.979);
  gap: 10px; /* Espacio entre áreas */
  padding: 10px;
}

.image-container{
  overflow: hidden;
  border-radius: 9px;
  background-color: aliceblue;
  width: 70px;
  height: 70px;
}

.navigation-menu{
  display: flex;
  grid-area: header;
  justify-content: space-around;
  background-color: black;
  align-items: center;

}

img{
  width: 50px;
  height: 50px;
  color: aliceblue;
}
.search-bar{
  outline: none;
  border-radius: 20px;
  justify-self: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;

}



.side-bar{
  grid-area: sidebar;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  
  align-items:flex-start;
 
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
}
.side-bar .image-container{
  align-self: flex-start;
  margin-left: 30px;
}

.side-bar .search-bar{
  align-self: flex-start;
  margin-left: 30px;

}

.main-container{
  grid-area: content;
  background-color: aliceblue;
  opacity: 0.5;
}


